*,
*::after,
*::before,
html {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 24px;
}

main {
  display: flex;
}

#clear-btn {
  height: 28px;
  margin: 0 25px;
}

section.config {
  display: flex;
  flex-direction: column;
}

section.config form {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

section.config form#grid-config {
  margin: 25px 25px 0 25px;
}

section.config form#grid-config * {
  margin: 2px;
}

section.config form#grid-config input {
  height: 28px;
}

section.config form#color-config button {
  height: 38px;
  margin: 3px;
}

#sketchpad {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  border: 1px solid rgb(0, 0, 0);

  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
}
