*,
*::after,
*::before,
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: rgb(143, 142, 142);
}

h1 {
  text-align: center;
  margin: 24px;
  font-size: 28px;
  font-weight: 600;
}

main {
  display: flex;
}

#clear-btn {
  height: 28px;
  margin: 0 25px;
}

div.config {
  display: flex;
  flex-direction: column;
  background: rgb(184, 176, 176);
  border-radius: 12px;
}

div.config form {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

div.config form#grid-config {
  margin: 25px 25px 0 25px;
}

div.config form#grid-config * {
  margin: 2px;
}

div.config form#grid-config input {
  height: 28px;
}

div.config form#color-config button {
  height: 38px;
  margin: 3px;
}

.border {
  background: url(../img/red-background-painting.jpg);
  width: 530px;
  height: 530px;
  border-radius: 12px;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
}

#sketchpad {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  border: 1px solid rgb(0, 0, 0);
  background: #fff;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
}
